<div class="footer">
    <%- include ../modules/tooltip.ejs -%>

    <div class="iconsWrapper">
        <div class="reload-icon" onclick="ym(91717882,'reachGoal','again'); return true;">
            <span></span>
        </div>
        <div class="share-icon" onclick="ym(91717882,'reachGoal','final'); return true;">
            <span></span>
        </div>
        <div class="sounds-icon">
            <span></span>
        </div>
    </div>
</div>