<div class="handle-prompt-cat">
    <div class="handle-cat">
        <div class="icon-wrapper">
            <div class="hand">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>