<div class="modal-question-songs">
    <div class="modal-question-songs__wrapper">
        <div class="question-songs">
            <div class="question-songs__header">
                <a href="https://tiburon-research.ru/" class="mobile-logo" target="_blank" onclick="ym(91717882,'reachGoal','logo'); return true;">
                    <img
                            src="../assets/images/main/logo.svg"
                            alt="Tiburon research"
                    />
                </a>
                <img class="saxophone" src="../assets/images/saxophone.svg" alt="Саксофон">
            </div>
            <div class="question-songs__content">
                <div class="question-songs__content-title">
                    Включить новогоднюю музыку?
                </div>
                <div class="question-songs__content-subtitle">
                    Вы сможете выключить её в любое время. Нажмите на радио, чтобы переключить песню.
                </div>
                <div class="songs-buttons">
                    <button class="button-yes">Да!</button>
                    <button class="button-no">Нет</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-question-songs__shadow"></div>
</div>
