<div class="modal-greeting">
    <div class="modal-greeting-wrapper">
        <div class="greeting">
            <div class="greeting__header">
                <a href="https://tiburon-research.ru/" class="mobile-logo" target="_blank" onclick="ym(91717882,'reachGoal','logo'); return true;">
                    <img
                            src="../assets/images/main/logo.svg"
                            alt="Tiburon research"
                    />
                </a>
                <img class="shark" src="../assets/images/shark.png" alt="Весёлая акула">
            </div>
            <div class="greeting__content">
                <div class="greeting__content-title">Создай новогоднее настроение за минуту!</div>
                <div class="greeting__content-subtitle">
                    2022 год прошел, время выдохнуть! Предлагаем
                    забыть про&nbsp;суету и&nbsp;почувствовать новогоднюю
                    атмосферу с&nbsp;помощью открытки от
                    Tiburon Research.
                </div>
                <button class="greeting-button" onclick="ym(91717882,'reachGoal','start'); return true;">Погнали!</button>
            </div>
        </div>
    </div>
    <div class="modal-greeting-shadow"></div>
</div>
