<div class="modal-final-screen">
    <div class="modal-wrapper">
        <div class="modal">
            <div class="modal-header">
                <a href="https://tiburon-research.ru/" class="logo-dark" target="_blank" onclick="ym(91717882,'reachGoal','logo'); return true;"></a>
            </div>
            <div class="modal-content">
                <div class="winning-option">
                    <%- include ../assets/images/final-modal/gingerbread.svg -%>
                    <img id="winnerImage" class="winnerImage" src="" alt="Победное изображение" />
                </div>
                <div class="modal-title">
                    Ура! Вы <span id="winnerText">&nbsp;</span> новогоднее настроение
                    <img class="santa-gif" alt="Санта" src="../assets/images/final-modal/santa.gif">
                </div>
                <div class="modal-subtitle">
                    С наступающим Новым годом! <br>
                    Вместо сувениров мы помогли некоммерческому фонду
                    <a href="https://tochno.st/" class="modal-link" target="_blank" onclick="ym(91717882,'reachGoal','button_esli'); return true;">«Если быть точным»</a>,
                    который продвигает аналитический подход
                    в&nbsp;освещении и решении социальных проблем.
                </div>
            </div>
            <div class="modal-footer">
                <div class="share-buttons">
                    <div class="share-vk">
                        <img
                                src="../assets/images/share/vk.svg"
                                alt="ВКонтакте"
                                class="share-icon-item"
                                data-share="vk"
                                onclick="ym(91717882,'reachGoal','share_vk'); return true;"
                        >
                    </div>
                    <div class="share-telegram">
                        <img
                                src="../assets/images/share/telegram.svg"
                                alt="Телеграм"
                                class="share-icon-item"
                                data-share="tg"
                                onclick="ym(91717882,'reachGoal','share_telegram'); return true;"
                        >
                    </div>
                    <div class="share-ok">
                        <img
                            src="../assets/images/share/ok.svg"
                            alt="Одноклассники"
                            class="share-icon-item"
                            data-share="ok"
                            onclick="ym(91717882,'reachGoal','share_ok'); return true;"
                        >
                    </div>
                    <div class="share-mail" onclick="ym(91717882,'reachGoal','share_mail'); return true;"></div>
                </div>
                <div class="back-to-the-room" onclick="ym(91717882,'reachGoal','comeback'); return true;">
                    Вернуться в комнату
                </div>
            </div>
        </div>
    </div>
    <div class="modal-shadow"></div>
</div>
