<div class="paints">
    <div class="paint-element">
        <img src="../assets/images/interactive_screens/green-paint.svg" alt="green paint" class="paint-bottle" data-color="green">
    </div>
    <div class="paint-element">
        <img src="../assets/images/interactive_screens/yellow-paint.svg" alt="yellow paint" class="paint-bottle" data-color="yellow">
    </div>
    <div class="paint-element">
        <img src="../assets/images/interactive_screens/red-paint.svg" alt="red paint" class="paint-bottle" data-color="red">
    </div>
    <div class="paint-element">
        <img src="../assets/images/interactive_screens/violet-paint.svg" alt="violet paint" class="paint-bottle" data-color="violet">
    </div>
</div>