<div class="progress-bar-container">
    <div class="progress-bar-title progress-bar-container__title">
        Шкала новогоднего настроения
    </div>
    <div id="progress-bar-block" class="progress-bar">
        <div class="progress-bar-background">
            <div class="progress-line" style="width: 50%;"></div>
            <div class="progress-line-tick" style="left: 33.33%"></div>
            <div class="progress-line-tick" style="left: 66.66%"></div>
        </div>
    </div>
</div>